* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    /* height: 100%; */
    width: 1280px;
    margin: auto;
}

nav img {
    width: 64px;
    cursor: pointer;
}

nav .icon {
    width: 30px;
    cursor: pointer;
}

nav .menu-icon {
    width: 30px;
    cursor: pointer;
    display: none;
}

nav {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(224, 219, 219);
    position: relative;
}

nav li {
    display: flex;
    gap: 30px;
    /* list-style-type: none; */
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: large;
}

/* Responsive part */
@media screen and (max-width:576px) {}


@media screen and (min-width:576px) and (max-width:960px) {}